// common section
section {
  width: 100%;
  height: 100vh;
}

// main section
.sec-m {
  background-color: $color_black;
  overflow: hidden;
}

.sec-01 {
  position: relative;
  .txt-area {
    color: $color_black;
    left: 0;
  }
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 1703px;
  margin: 0 auto;
}

.video-bg {
  height: inherit;
  overflow: hidden;
  position: absolute;
}

// main text area
.txt-area {
  position: absolute;
  top: 50%;
  right: 0;
  color: $color_white;
  margin-right: 15%;
  transform: translateY(-50%);
  z-index: 99999;
}

.des {
  font-size: 0.8vw;
  font-weight: 700;
}

.tit {
  font-size: 3.5vw;
  line-height: 1.3;
  margin: 0;
}

.sub-tit {
  font-size: 1.3vw;
  font-weight: 700;
  margin-top: 20px;
}

// platform-business
.video-area {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  border-radius: 20%;
  overflow: hidden;
}

.btn-cate {
  display: block;
  width: 367px;
  height: 40px;
  font-weight: 700;
  line-height: 2;
  padding: 20px;
  margin-top: 40px;
  box-sizing: content-box;
  border: 1px solid $color_black;
}

// common scroll top button
.btn-scroll-top {
  position: fixed;
  right: 112px;
  bottom: 100px;
  width: 2.5vw;
  padding: 0;
  pointer-events: none;
  &.active {
    pointer-events: unset;
    .box {
      height: 0;
      border-color: $color_black !important;
    }
    .circle {
      border-color: $color_black !important;
      &.bottom {
        .ico {
          opacity: 1;
        }
      }
    }
  }
  .circle {
    transition: all 0.35s;
    &.top {
      display: block;
      height: 25px;
      border-radius: 2.5vw 2.5vw 0 0;
      border: 2px solid $color_white;
      border-bottom: 0;
    }
    &.bottom {
      display: block;
      height: 25px;
      border-radius: 0 0 2.5vw 2.5vw;
      border: 2px solid $color_white;
      border-top: 0;
      .ico {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 0.8vw;
        margin: 0 auto;
        transform: translateY(-50%);
        opacity: 0;
      }
    }
  }
  .box {
    position: relative;
    display: block;
    height: 50px;
    overflow: hidden;
    border-left: 2px solid $color_white;
    border-right: 2px solid $color_white;
    transition: all 0.35s;
    .ico {
      transition: all 0.35s;
      position: absolute;
      left: 0;
      right: 0;
      animation: arrow-down 1.6s linear -0.8s infinite forwards;
      -webkit-animation: arrow-down 1.6s linear -0.8s infinite forwards;
    }
  }
}

.btn-color-change {
  width: 100%;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid $color_black;
  &::after {
    content: '';
    background-color: $color_primary;
    width: 0;
    height: 105%;
    position: absolute;
    left: 0;
    transition: all 0.5s ease-in-out;
  }
  &:hover::after {
    width: 100%;
    height: 105%;
  }
}
