* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #000;
  font-style: normal;
  list-style: none;
}

$font-size: 11px;
$button-color: #fe3478;
$button-height: 40px;

footer {
  display: flex;
  justify-content: center;
  // border: 1px solid;
  position: relative;
  .footer__section {
    width: 90%;
    max-width: 1918px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    // border: 1px solid red;
    box-sizing: border-box;
    font-size: $font-size;

    .footer__logo {
      border: 1px solid green;
      width: 33.3333%;
      height: auto;
    }
    .footer__address {
      border: 1px solid green;
      width: 33.3333%;
      padding: {
        top: 40px;
        left: 2vw;
        right: 0.2vw;
        bottom: 40px;
      }
      li:not(:first-child) {
        margin-top: 2em;
      }
    }
    .footer__addInfo {
      border: 1px solid green;
      width: 33.3333%;
      position: relative;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-between;
      // overflow: hidden;
      .footer__familySiteTitle {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: $button-height;
        border: 1px solid;
        box-sizing: border-box;
        padding: {
          left: 10px;
          right: 10px;
        }
      }
      // .footer__btnBox {
      //   width: 100%;
      //   height: 40px;
      //   border: 1px solid;
      //   box-sizing: border-box;
      //   position: absolute;
      // }
      .footer__btnBox--covered {
        width: 101%;
        height: $button-height;
        box-sizing: border-box;
        background-color: $button-color;
        position: absolute;
        top: 0;
        left: -101%;
      }
      .footer__siteListCont {
        position: absolute;
        top: 0;
        border: 1px solid red;
        width: 100%;
        ul {
          padding: 20px;
          li {
            a {
              line-height: 2.5;
            }
          }
        }
      }
      .footer__followUs {
        position: absolute;
        top: 50%;
        padding-left: 10px;
        .footer__snsImg {
          ul {
            display: flex;
          }
        }
      }
    }
  }

  &::after {
    content: '';
    display: block;
    margin: 10px 20px;
    width: 90%;
    height: 2px;
    background-color: #000;
    position: absolute;
    // top: -10px;
  }
}
